{% extends "../main.html" %}
{% block content %}
{% for post in posts%}
    <div class="card mb-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{post.title}} + {{post.pk}}</h5>
            <p class="card-text">{{post.text}}</p>
        <a href="/post/{{post.pk}}" class="btn btn-primary">Go somewhere</a>
        <footer class="blockquote-footer"><cite title="Source Title">Created {{post.created}} by <a href="{% url 'profile' post.author.pk%}"> {{post.author}}</a></cite></footer>
        
  </div>
</div>
{% endfor %}
{% endblock content %}