{% extends "../main.html" %}
{% block content %}
    <div class="card mb-2" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            {% if user.account in post.readed_by.all  %}
            <p class="card-text">Readed</p>
            {% endif %}
            <p class="card-text">{{post.text}}</p>
        <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Mark as read</a>
        <footer class="blockquote-footer"><cite title="Source Title">Created {{post.created}} by {{post.author}}</cite></footer>
        
  </div>
</div>
{% endblock content %}